*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.offer{
    color: #fff;;
}
.bg-color{
    background-color:rgb(56, 138, 138);
    display: flex;
    justify-content: center;
    padding: .2em 0;
}