.signup-flex{
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: center;
    align-items: center;
    flex-direction: column; */
}
.heading-text{
    text-align: center;
}
.column{
    display: flex;
    flex-direction: row;
}
.bgimage3{
    
        background:linear-gradient(rgba(50, 112, 114, 0.8), rgba(50,112,114,.8)) ,url("https://images.unsplash.com/photo-1592839930500-3445eb72b8ad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 80%;
        height: 100%;
        height: 70vh;
        width: 60vw;
        margin-right: 2em;
}
.text-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 3em;

}
.check-signup{
    display: flex;
    align-items: center;
gap: 1em;
}
.persons{
    padding: 1em 5em;
    gap: 1em;
    margin: 3em 1em;
    /* background-color: #E5E6E1; */
    border: none;
    border-bottom: solid 2px teal;
    outline: none;
}
.email-signup{
    padding: 1em 5em;
    margin: 2em 0;
    border: none;
    border-bottom: solid 2px teal;
    outline: none;
}
.password-signup{
    padding: 1em 5em;
    margin: 2em 0;
    border: none;
    border-bottom: solid 2px teal;
    outline: none;
}
.confirm{
    padding: 1em 5em;
    margin: 2em 0;
    border: none;
    border-bottom: solid 2px teal;
    outline: none;
}
.signup-btn{
    padding: 1em 3em;
    margin: 2em 0;
}
.confirm{
    position: relative;
}
.position{
    position: absolute;
    top: 0;
    left: 100%;
}


@media (max-width:810px){
.signup-flex{
    width: 100%;
    justify-content: center;
}
.column{
    flex-direction: column;
}
.naming-part{
    text-align: center;
    display: flex;
    justify-content: center;
}
}